.creator_profile_container {
  height: 90vh;
  width: 100%;
  padding: 2vh;
  display: flex;
  .profile_left {
    border: 1px solid black;
    height: 100%;
    width: 33%;
    .profile_avatar {
      height: 40%;
    }
  }

  .profile_main {
    width: 67%;
    border: 1px solid black;
    .profile_header {
      height: 33%;
    }
    .profile_interface {
      height: 67%;
      .interface_selectors {
        display: flex;
      }
    }
  }
}
