.find_projects_container {
  height: 90vh;
  font-family: 'Poppins';
}
.findprojects__filters {
  height: 7vh;
  width: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;

  .findprojects__search {
    height: 75%;

    input {
      width: 20rem;
      height: 100%;
      border-radius: 3px;
      border: 1px solid rgba(65, 63, 63, 0.415);
    }
  }

  .filter__item_container {
    display: flex;
    width: 20rem;
    margin-right: 10rem;
    .filter__item {
      margin-right: 1rem;
      position: relative;
      button {
        all: unset;
        cursor: pointer;
        border-radius: 3px;
        border: 1px solid rgba(65, 63, 63, 0.415);
        padding: 0 10px;
        height: 32px;
      }
      .filter__modal {
        position: absolute;
        z-index: 10;
        background-color: white;
        padding: 5rem;

        //Type
        .type__selected {
          border: 1px solid blue;
          background-color: rgba(33, 33, 239, 0.167);
        }

        //Distance
        .distance__selected {
          border: 1px solid blue;
          background-color: rgba(33, 33, 239, 0.167);
        }
      }
    }
    .findprojects__filters_maptoggle {
      justify-content: flex-end;
    }
  }

  //Budget
  .budget__input_container {
    display: flex;
    input {
      width: 5rem;
    }

    p {
      margin: 0 5px;
    }
  }
}

.find_projects_main {
  display: flex;
}

.project_list_container {
  flex-grow: 2;
  width: 30%;
  .findprojects__container_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
  .infocard_list_container {
  }

  .message_container {
    height: 20rem;
    min-height: 20rem;
    max-height: 20rem;
  }
}

.business_list {
  display: flex;
  flex-direction: column;
}

.map_section {
  flex-grow: 3;
  top: 10vh;
  position: sticky;
  height: 83vh;
  width: 60vw;
  position: sticky;
}

.infocard_list_container {
  overflow-y: scroll;
  height: 73vh;

  .infocard {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid black;
    min-width: 17rem;
    width: 17rem;
    border-radius: 8px;
  }

  .infocard__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .infocard__header_image {
      position: relative;
      height: 5rem;
      width: 5rem;
      border-radius: 8px;
    }

    .infocard__header_favorite {
      cursor: pointer;
    }

    .infocard__header_username {
      font-weight: bold;
    }

    .infocard__header_info {
      width: 100%;
      padding-left: 1rem;
    }

    .infocard__header_info_bottom {
      display: flex;
      justify-content: space-between;
    }
  }

  .infocard__body {
    margin-top: 1rem;
    font-weight: 300;
    font-size: 0.85rem;
  }

  .infocard__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .infocard__footer_budget {
      display: flex;
      flex-direction: column;
      .infocard__footer_budget_text {
        font-size: 0.75rem;
        font-weight: 200;
      }
    }
    .infocard__footer_buttons {
      display: flex;
      flex-direction: column;
    }
  }

  .infocard:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    opacity: 0.8;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  .info_card_info {
    display: flex;
    flex-direction: column;
    padding-left: 1.25rem;
    flex: 2;
  }

  .info_card_info p {
    margin-top: 0.5rem;
  }

  .info_card_right_title_empty {
    border-bottom: 1px solid gray;
    width: 2.5rem;
    padding-top: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  // .map {
  //   visibility: visible;
  //   display: inline-flex;
  //   flex-basis: 60%;
  // }
}
