.home_main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  background-size: cover;
  background: url('../public/background-2.png') no-repeat 1010px,
    url('../public/background-1.png') no-repeat 931px;
  font-family: 'Poppins', sans-serif;
  background-color: #f8fdff;
}

.heading_main {
  .copy_main {
    font-size: 56px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #1e255e;
  }
  .copy_sub {
    font-size: 2rem;
    color: rgba(30, 37, 94, 0.7);
    font-weight: normal;
    margin-top: 1rem;
  }
}

.heading_sub {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 2rem;
  width: 50%;
}

.hero_container {
  visibility: hidden;
}

@media (min-width: 640px) {
  .home_main {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: left !important;
    padding-left: 5rem;
  }

  .heading_main {
    width: 50%;

    .copy_sub {
      padding-right: 150px;
    }
  }

  .hero_container {
    position: relative;
    height: 30rem;
    width: 25rem;
    visibility: visible;

    .hero_image {
      object-fit: cover;
      border-radius: 5%;
    }
  }
}
