.home_main {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  z-index: 5;
  padding-top: 8rem;
  overflow: hidden;
}

.home_container {
  max-height: 100vh;
}

.background_container {
  position: absolute;
  overflow: hidden;
  right: 0;
  width: 50em;
  height: 100%;

  .image2 {
    size: 1010px;
    overflow: hidden;
  }
}

.heading_main {
  z-index: 1;
  .copy_main {
    font-size: 56px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #1e255e;
  }
  .copy_sub {
    font-size: 2rem;
    color: rgba(30, 37, 94, 0.7);
    font-weight: normal;
    margin-top: 1rem;
  }
  .home_buttons {
    top: 0;
    button {
      border: 1px solid #17a4d0;
      font-size: 14px;
      font-weight: 400;
      width: 10rem;
      height: 60px;
      border-radius: 100px;
      margin-top: 50px;
      transition: all 1s ease-out;
    }
    .find_projects {
      background-color: #1155cc;
      color: #fff;
      margin: 0 2rem 0 2rem;

      &:hover {
        background-color: #4eafeb;
        color: white;
      }
    }
    .find_creators {
      color: #1155cc;
      background-color: #f8fdff;

      &:hover {
        background-color: #4eafeb;
        color: #f8fdff;
      }
    }
  }
}

.heading_sub {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 2rem;
  width: 50%;
}

.hero_container {
  visibility: hidden;
}

@media (min-width: 910px) {
  .home_main {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: left !important;
    padding-left: 5rem;
    padding-top: 0;
  }

  .heading_main {
    width: 50%;
    margin-top: 5%;

    .copy_sub {
      padding-right: 150px;
    }
  }

  .hero_container {
    position: relative;
    height: 32rem;
    width: 30rem;
    visibility: visible;

    .hero_image {
      object-fit: cover;
      border-radius: 10%;
    }
  }
}
