.home_main {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  z-index: 5;
}

.home_container {
  max-height: 100vh;
}

.background_container {
  position: absolute;
  overflow: hidden;
  right: 0;
  width: 50rem;
  height: 100%;

  .image1 {
    height: 100%;
    width: 80%;
    overflow: hidden;
  }

  .image2 {
    size: 1010px;
    overflow: hidden;
  }
}

.heading_main {
  z-index: 1;
  .copy_main {
    font-size: 56px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #1e255e;
    padding-top: 2rem;
  }
  .copy_sub {
    font-size: 2rem;
    color: rgba(30, 37, 94, 0.7);
    font-weight: normal;
    margin-top: 1rem;
  }
}

.heading_sub {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 2rem;
  width: 50%;
}

.hero_container {
  visibility: hidden;
}

@media (min-width: 640px) {
  .home_main {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: left !important;
    padding-left: 5rem;
  }

  .heading_main {
    width: 50%;
    margin-top: 5%;

    .copy_sub {
      padding-right: 150px;
    }
  }

  .hero_container {
    position: relative;
    height: 32rem;
    width: 30rem;
    visibility: visible;

    .hero_image {
      object-fit: cover;
      border-radius: 10%;
    }
  }
}
