.messages_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .selected_messages {
    height: 30rem;
    width: 40rem;
  }
}

.messages_render_container {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  .messages_render_main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 100%;
    max-height: 100%;
    overflow: scroll;
  }

  .message_currentUser {
    background-color: rgb(198, 198, 198);
    color: black;
    border-radius: 1.125rem 0 1.125rem 1.125rem;
    font-size: 1rem;
    max-width: 66%;
    margin: 0.1rem 0.1rem 0.1rem auto;
    padding: 0.3rem 1rem;
  }
  .message_selectedUser {
    background-color: #0084ff;
    border-radius: 0 1.125rem 1.125rem 1.125rem;
    font-size: 1rem;
    max-width: 66%;
    margin: 0.1rem auto 0.1rem 0.1rem;
    padding: 0.3rem 1rem;
  }
  .message_form_test {
    height: 10%;
    width: 100%;
    border-top: 1px solid lightgray;
    display: flex;
    z-index: 5;
  }
}

.messages_navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  .user_categories {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .message_card_container {
    display: flex;
    // border: 1px solid black;
    height: 5rem;
    width: 30rem;

    .message_card_image {
      height: 100%;
      object-fit: contain;
    }
    .message_card_info {
      padding: 1rem;
    }
  }

  .message_card_container:hover {
    transform: scale(1.01);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}
