.container_slider {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slide {
  position: absolute;
  opacity: 0;
  width: 100%;
  overflow: hidden;
  transition: opacity ease-in-out 0.5s;
}

.image {
  object-fit: contain;
  width: 100%;
}

.active_anim {
  opacity: 1;
  width: 100%;
  transition: opacity ease-in-out 0.5s;
  overflow: hidden;
}

.prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 15px;
}
.next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 15px;
}

.container_dots {
  position: absolute;
  bottom: 10px;
  // left: 50%;

  display: flex;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.active {
  background: rgb(32, 32, 32);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
}
